* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    width: 70%;
    margin: auto;
}

.header-container {
    background-color: black;
}

.header img {
    width: 100px;
}

.header ul {
    display: inline-block;
    padding-left: 40%;
}

.header li {
    display: inline-block;
    padding-right: 20px;
    font-size: 15px;
    text-align: right;    
}